.animal_array_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row wrap;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    display: grid;
    grid-template-columns: auto auto auto;
}

.animal_container {
    display: flex;
    flex-direction: column;
    background-color: chartreuse;
    border: solid black 1px;
    margin: 5px;
    padding: 5px;
}

.link_container {
    display: flex; 
    justify-content: space-evenly;
    padding-top: 20px;
    
    

}

#choose_animal_button:focus {
    /* margin-top: 50px; */
    background-color: darkgreen;
    color: white;
}

.animal_type {
    text-transform: capitalize;
}