body {
  background-color: lightgrey;
}

header {
  display: flex;
  font-family: 'Press Start 2P', cursive;
  justify-content: space-between;
}

#title {
  display: flex;
  text-align: center;
  justify-content: center;
}

#navbar {
  justify-content: flex-end;
}


